@import url('https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap');

body{
    font-family: 'PT Serif', serif;
    text-align: center;
    background-image: url(./background.jpg);
    background-repeat: no repeat;
    background-size: 100%;

}

div{
    background-color: rgb(255, 255, 255);
    margin-top: 50px;
    opacity: 0.8;

}

h1{
    font-size: 40px;
}

h3{
font-size: 30px;
color: darkgreen;
}
label{
    font-size: 25px;
    color: navy;
}
span{
    font-size: 25px;
    color: navy;
}